/**{
	border: 1px solid black;
}*/

html {
	padding: 10px;
}

.header {
	width: 1300px;
	height: 523px;
	position: relative;
}

.blog_link {
	text-decoration: none;
}

.blog {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 142px;
	font-family: "Open Sans";
	color: #003254;
}

.logo_text {
	display: inline-block;
	position: absolute;
	height: 10px;
	width: 300px;
	bottom: 10px;
	left: 61px;
	color: #083451;
	vertical-align: top;
	font-size: 17px;
}

.about_search {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 143px;
	font-family: "Open Sans";
}

.title {
	display: inline-block;
	position: absolute;
	top: 36%;
	left: 15%;
	font-size: 2.5em;
	font-family: "Open Sans";
	color: white;
}

.title h5 {
	color: #083451;
	position: relative;
	bottom: 44px;
	left: 300px;
	font-size: 16px;
}

.main {
	width: 1300px;
	position: relative;
	border-bottom: 1px solid #E1E7EA;
}

.center_column {
	display: inline-block;
	width: 48%;
	margin-left: 12%;
	margin-right: 3%;
	position: relative;
	vertical-align: top;
}

.author_name {
	margin: 0;
	display: inline-block;
	color: #2176B8;
	position: relative;
	bottom: 6px;
	left: 5px;
	font-size: 12px;
}

.author_date {
	margin: 0;
	color: #A0B4C1;
	display: inline-block;
	font-size: .75em;
	position: relative;
	bottom: 6px;
	left: 18px;
	font-size: 13px;
}

.headline {
	/*height: 100px;*/
}

.article {
	color: #5E686F;
	font-family: "Open Sans", sans-serif;
	line-height: 1.65em;
	font-size: .95em;
	margin-bottom: 4em;
}

.woah{
	color:#005BB2; 
	border-left: 2px solid #D5D5D5;
	padding-left: 15px;
	padding-top: 20px;
	height: 45px;
	margin-left: 6px;
	font-weight: 200;
	font-size: 1.8em;

}

.links {
	margin-top: 50px;
}

.comment {
  height: 32px;
  background-color: #9FB3C1;
  width: 150px;
  display: inline-block;
  position: relative;
  bottom: 38px;
}

.share {
  background-color: #0069BA;
  height: 32px;
  width: 150px;
  display: inline-block;
  position: relative;
  bottom: 38px;
}

.upload {
  background-color: #9FB3C1;
  height: 32px;
  width: 150px;
  display: inline-block;
  position: relative;
  bottom: 38px;
}


.img_box {
  background-color: #5B6870;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
}

.links h5 {
  display: inline;
  color: white;
  top: 10px;
  position: relative;
  top: 9px;
  	left: 5px;
	font-weight: 100;
}

.sidebar {
	display: inline-block;
	width: 25%;
	position: relative;
}

.anne_marie {
  /*height: 300px;*/
  margin-left: 5em;
}

.surfer_ad {
	text-align: right;
}

.sidebar_section {
	font-weight: 100;
	letter-spacing: .35px;
}

.img {
  margin-top: 9px;
  margin-left: 8px;
}


.footer {
	width: 1300px;
	height: 20%;
	font-family: "Oswald"
}

.footer_title {
	text-align: center;
	font-size: 1.8em;
	color: #083452;
}

.footer_images {

}

.footer_article {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.article_layer {
    background-color: #0071C5;
    position: absolute;
    opacity: .6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article_layer:hover{
	opacity: 0;
}

.article_layer:hover + .article_header {
	color: white;
}

.article_header{
	position: absolute;
	font-size: 30px;
	top: 250px;
	left: 15px;
	color: #083452;
}

.footer_posts {
	font-size: 0;
}

.footer_TIY {
	background-color: #083452;
	height: 90px;
	width: 100%;
	font-family: "Open Sans";
	font-size: 1em;
	font-weight: lighter;
}

.TIY {
	display: inline-block;
	position: relative;
	left: 166px;
	top: 23px;
}

.TIY h5 {
	display: inline-block;
	color: #A3B3BF;
	position: relative;
	left: 9px;
	bottom: 9px;
}

.nav_items{
	display: inline-block;
	color: #A3B3BF;
	position: relative;
	left: 468px;
	top: 15px;
}

.nav_items h5 {
	display: inline-block;
	color: #A3B3BF;
}

a {
	text-decoration: none;
	/*color: black;*/
}